.table-container {
  display: flex;
  height: 100%;
}

.mat-drawer {
  height: 100%;
  background-color: #062f5e;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;;
}

h2 {
  color: white;
  padding: 15px;
  text-align: center;
}
table {
  width: 250%;
}

.checkbox-section {
  margin: 12px 0;
}

.checkbox-margin {
  width: 50%
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

span.checkbox-card {
  margin: 0px;
  vertical-align: middle;
  display: inline-block;
}

span.table-card {
  margin: 0px;
  vertical-align: middle;
  display: inline-block;
}

mat-sidenav {
  width: 300px;
  border-right: none;
  background: #062f5e;
  color: white;
  text-align: start;
}

mat-sidenav-container {
  height: 100vh;
}

.drawer-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

mat-card {
  padding: 13px;
  margin: 10px;
}

mat-divider {
  border-top-color: white;
  width: 100%;
}
