<div class= "main-section">
  <span class="checkbox-card">
    <mat-card style="background-color: #062f5e;">
    <mat-card>
      <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin">us-east-1</mat-checkbox>
        <mat-checkbox class="checkbox-margin">us-east-2</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin">us-west-1</mat-checkbox>
        <mat-checkbox class="checkbox-margin">us-west-2</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin">af-south-1</mat-checkbox>
        <mat-checkbox class="checkbox-margin">ap-east-1</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin">ap-south-1</mat-checkbox>
        <mat-checkbox class="checkbox-margin">ap-northeast-3</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin">ap-northeast-2</mat-checkbox>
        <mat-checkbox class="checkbox-margin">ap-southeast-2</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin">ap-southeast-1</mat-checkbox>
        <mat-checkbox class="checkbox-margin">ap-northeast-1</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin">ca-central-1</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin">eu-central-1</mat-checkbox>
        <mat-checkbox class="checkbox-margin">eu-west-1</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin">eu-west-2</mat-checkbox>
        <mat-checkbox class="checkbox-margin">eu-south-1</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin">eu-west-3</mat-checkbox>
        <mat-checkbox class="checkbox-margin">eu-north-1</mat-checkbox>
      </section>
      <section class="checkbox-section">
        <mat-checkbox class="checkbox-margin">me-south-1</mat-checkbox>
        <mat-checkbox class="checkbox-margin">sa-east-1</mat-checkbox>
      </section>
      </mat-card>
    </mat-card>
  </span>
  <span class="table-card">
    <table mat-table [dataSource]="dataSource" class="table">

      <ng-container matColumnDef="azTitle">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.azTitle}} </td>
      </ng-container>

      <ng-container matColumnDef="latency">
        <th mat-header-cell *matHeaderCellDef> Latency </th>
        <td mat-cell *matCellDef="let element"> {{element.latency}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </span>
</div>
