.map-heading {
  text-align: center;
  margin-top: 15px;
  font-size: 25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 0.651);
}

img {
  width: 1920px;
  height: 1080px;
  padding: 15px;
}
.map-container {
  position: fixed;
  top: 175px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  margin: 0px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

