.map-container {
  position: relative;
  height: 99.5%;
  width: 100%;
  margin: 0px;
}

.map-frame {
  border: 1px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.side-bar {
  width: 25%;
  background: grey;
  color: white;
}

mat-sidenav {
  width: 300px;
  border-right: none;
  background: #062f5e;
  color: white;
  text-align: start;
}


mat-sidenav-container {
  height: 100vh;
}

.fields{
  padding-left: 10px;
  padding-top: 10%;
  width: 90%;
}

mat-divider {
  border-top-color: white;
  width: 100%;
}
