.map-container {
  position: relative;
  height: 99.5%;
  width: 100%;
  margin: 0px;
}

.map-frame {
  border: 1px solid black;
  height: 100%;
}

[hidden] {
  display: none !important;
}

#map {
  height: 100%;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.side-bar {
  width: 25%;
  background: grey;
  color: white;
}

mat-sidenav {
  width: 300px;
  border-right: none;
  background: #062f5e;
  color: white;
  text-align: start;
}


mat-sidenav-container {
  height: 100vh;
}

.fields{
  padding-left: 10px;
  padding-top: 10%;
  width: 90%;
}

mat-divider {
  border-top-color: white;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

/****************
* LIST-VIEW CSS *
*****************/

.table-container-list {
  display: flex;
  height: 100%;
  margin-left: 300px;
}

.mat-drawer {
  height: 100%;
  background-color: #062f5e;
  color: white;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;;
}

h2 {
  color: white;
  padding: 15px;
  text-align: center;
}

table {
  width: 250%;
}

.checkbox-section-list {
  margin: 12px 0;
}

.checkbox-margin-list {
  width: 50%
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

span.checkbox-card {
  margin: 0px;
  vertical-align: middle;
  display: inline-block;
}

span.table-card {
  margin: 0px;
  vertical-align: middle;
  display: inline-block;
}

.drawer-container {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-card {
  padding: 13px;
  margin: 10px;
}

.space-container {
  margin-top: 85px;
}

.toggle-container {
  display: flex;
  justify-content: center;
}
