<mat-sidenav-container [hidden]="viewChecked" class="example-container">
  <mat-sidenav opened mode="side"  class="mat-elevation-z8">
    <h2>Region Selection Panel</h2>
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" class="fields">
        <mat-label style="color: white;">{{this.sendingAZString}}</mat-label>
        <input matInput placeholder="Select an AZ">
        <mat-hint style="color: white;">Sending AZ</mat-hint>
    </mat-form-field>
    <mat-icon style="padding-top: 10%; padding-left: 40%;">swap_vert</mat-icon>
    <mat-form-field appearance="fill" class="fields" style="padding-bottom: 20%;">
      <mat-label style="color: white;">{{this.receivingAZString}}</mat-label>
      <input matInput placeholder="Select a second AZ">
      <mat-hint style="color: white;">Receiving AZ</mat-hint>
    </mat-form-field>
    <h3 style="color: white; padding: 10px;">Fastest AZ pair for these regions:</h3>
    <mat-card>
        <span *ngIf="this.fastestAZRecord.sourceAZ">{{this.fastestAZRecord.sourceAZ}} to {{this.fastestAZRecord.destinationAZ}} at {{this.fastestAZRecord.rtt}}ns</span>
    </mat-card>
    <div class="button-container">
    <button style="margin-top: 15%;" mat-raised-button color="warn">More Info..</button>
    </div>
    <div class="toggle-container" style="padding-top: 30px;">
      <span style="padding-right:7px;padding-top:2px;">Map View</span>
      <mat-slide-toggle [checked]="viewChecked" (click)="onClick($event)" style="padding-right: 30px;">List View</mat-slide-toggle>
    </div>
  </mat-sidenav>
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</mat-sidenav-container>

<!--LIST-VIEW HTML STARTS HERE-->

<mat-sidenav-container [hidden]="!viewChecked" class="example-container">
  <mat-sidenav opened mode="side"  class="mat-elevation-z8">
    <h2>Region Selection Panel</h2>
    <mat-divider></mat-divider>
    <mat-card>
    <section class="checkbox-section-list">
        <mat-checkbox (change)="bttnCheckBox($event, 'use1-az2')" class="checkbox-margin-list">us-east-1</mat-checkbox>
        <mat-checkbox (change)="bttnCheckBox($event, 'use2-az2')" class="checkbox-margin-list">us-east-2</mat-checkbox>
      </section>
      <section class="checkbox-section-list">
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">us-west-1</mat-checkbox>
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">us-west-2</mat-checkbox>
      </section>
      <section class="checkbox-section-list">
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">af-south-1</mat-checkbox>
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">ap-east-1</mat-checkbox>
      </section>
      <section class="checkbox-section-list">
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">ap-south-1</mat-checkbox>
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">ap-northeast-3</mat-checkbox>
      </section>
      <section class="checkbox-section-list">
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">ap-northeast-2</mat-checkbox>
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">ap-southeast-2</mat-checkbox>
      </section>
      <section class="checkbox-section-list">
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">ap-southeast-1</mat-checkbox>
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">ap-northeast-1</mat-checkbox>
      </section>
      <section class="checkbox-section-list">
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">ca-central-1</mat-checkbox>
      </section>
      <section class="checkbox-section-list">
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">eu-central-1</mat-checkbox>
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">eu-west-1</mat-checkbox>
      </section>
      <section class="checkbox-section-list">
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">eu-west-2</mat-checkbox>
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">eu-south-1</mat-checkbox>
      </section>
      <section class="checkbox-section-list">
        <mat-checkbox (change)="bttnCheckBox($event, 'euw3-az2')" class="checkbox-margin-list">eu-west-3</mat-checkbox>
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">eu-north-1</mat-checkbox>
      </section>
      <section class="checkbox-section-list">
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">me-south-1</mat-checkbox>
        <mat-checkbox (change)="bttnClick($event)"  class="checkbox-margin-list">sa-east-1</mat-checkbox>
      </section>
    </mat-card>

    <div class="space-container"></div>
    <div class="toggle-container" style="padding-top: 25px;">
      <span style="padding-right:7px;padding-top:2px;">Map View</span>
      <mat-slide-toggle [checked]="viewChecked" (click)="onClick($event)" style="padding-right: 30px;">List View</mat-slide-toggle>
    </div>

  </mat-sidenav>

    <mat-sidenav-content class="table-container-list">
    <span class="table-card">
      <table mat-table [dataSource]="filteredDataArray" class="table">
        <ng-container matColumnDef="sourceAZ">
          <th mat-header-cell *matHeaderCellDef> Source AZ </th>
          <td mat-cell *matCellDef="let element"> {{element.sourceAZ}} </td>
        </ng-container>
        <ng-container matColumnDef="destinationAZ">
          <th mat-header-cell *matHeaderCellDef> Destination AZ </th>
          <td mat-cell *matCellDef="let element"> {{element.destinationAZ}} </td>
        </ng-container>
        <ng-container matColumnDef="rtt">
          <th mat-header-cell *matHeaderCellDef> RTT </th>
          <td mat-cell *matCellDef="let element"> {{element.rtt}} </td>
        </ng-container>
        <ng-container matColumnDef="unixTimestamp">
          <th mat-header-cell *matHeaderCellDef> Unix Timestamp </th>
          <td mat-cell *matCellDef="let element"> {{element.unixTimestamp}} </td>
        </ng-container>
        <ng-container matColumnDef="resolveTime">
          <th mat-header-cell *matHeaderCellDef> Resolve Time </th>
          <td mat-cell *matCellDef="let element"> {{element.resolveTime}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </span>
  </mat-sidenav-content>

</mat-sidenav-container>
