<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Latency Pin</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink='/list-view' routerLinkActive="active" style="color: white;">List View</a>
      <a mat-button routerLink='/map-view' routerLinkActive="active" style="color: white;">Map View</a>
      <a mat-button routerLink='/upload-csv' routerLinkActive="active" style="color: white;">Upload CSV (DEV USE ONLY)</a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
      <span style="font-size: 12px;">Pin is designed to help with determining latency with AWS services.</span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
