<div class="graph-view">
  <header>
    <h1>Latency of {{AZ1}} to {{AZ2}}</h1>
  </header>
  <div class="graph-container">
    <div class="graph">
      <ngx-charts-bar-vertical
        [legend]="legend"
        [legendTitle]="legendTitle"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="points"
        >
      </ngx-charts-bar-vertical>
      <div class="statbox">
        <body>Average: {{aved}} ms<br>
          Minimum: {{mind}} ms<br>
          Maximum: {{maxd}} ms<br>
          Median: {{medd}} ms<br>
          Percentiles: <br>
          50th: {{percent50}} ms<br>
          75th: {{percent75}} ms<br>
          90th: {{percent90}} ms<br>
          99th: {{percent99}} ms<br>
        </body>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="onClick()">SHOW LATENCIES</button>
      </div>

      <!-- Stats that might matter to display in a text box:
      Minimum, Maximum, Median and Average-->
    </div>
  </div>
  <!-- (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)" -->
</div>
