h1 {
  padding-top: 15px;
  text-align: center;
}

div.graph-view{
  align-content: center;
}

div.graph-container{
  padding-left: 10px;
  padding-right: 10px;
}

div.graph{
  height: 600px;
  width: 100%;
  float: left;
}

.button-container {
  display: flex;
  justify-content: center;
}

.statbox {
  display: flex;
  justify-content: left;
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(185 184 184 / 20%);
}

.label{
  padding-left: 38.5%;
}
